Plugin/SymbolicationPlugin.xcodeproj/project.xcworkspace/xcuserdata/ShanbhagMahesh.xcuserdatad/UserInterfaceState.xcuserstate
Plugin/SymbolicationPlugin.xcodeproj/project.xcworkspace/xcshareddata/SymbolicationPlugin.xccheckout